{% extends 'base/index_base.html' %}

{% block Title %}Asset{% endblock %}

{% block MainContainer %}

    <div class="container" style="width: 300px;height: 500px">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading text-center">管理员登录</h2>
        <label for="inputUsername" class="sr-only">用户名</label>
        <input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->

{% endblock %}