
body, div, h1, h2, p, ol, ul, li {
    border: 0 none;
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100%;
}
body, .main-panel-heading{
    background: #444 url("../images/debut_dark.png") repeat scroll 0 0;
    color: #666;
    font: 400 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 290px;
}
h1 {
    color: #222;
    float: left;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
    width: 100%;
}
h2 {
    color: #222;
    float: left;
    font-size: 1.5em;
    margin: 1em 0 0.5em;
    width: 100%;
}
p {
    float: left;
    margin-bottom: 1em;
    width: 100%;
}
p.intro {
    color: #555;
    font-size: 1.25em;
    font-weight: 700;
}
a {
    color: #f4f4f4;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0 none;
}
.main {
    background: #eeeeee none repeat scroll 0 0;
    border-top-left-radius: 0px;
    bottom: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0em 0em;
    position: fixed;
    right: 0;
    top: 52px;
    width: 76%;
}
#nav {
    left: 0;
    position: absolute;
    top: 2em;
    width: 24%;
}
#nav ul {
    display: block;
    list-style: outside none none;
    width: 100%;
}
#nav li {
    display: block;
    width: 100%;
}
#nav a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    color: #aaa;
    display: block;
    font-weight: 700;
    padding: 0.6em 2em;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease 0s;
    width: 100%;
}
#nav a:hover {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}
#nav .active a {
    background: rgba(255, 255, 255, 255);
    color: rgba(255, 255, 255, 0.2);
}
#nav li:first-child a {
    border-top: 0 none;
}
#nav li:last-child a {
    border-bottom: 0 none;
}
#toggle {
    display: none;
}
@media screen and (max-width: 40em) {
.js #nav {
    clip: rect(0px, 0px, 0px, 0px);
    display: block;
    max-height: 0;
    overflow: hidden;
    position: absolute;
}
#nav {
    position: relative;
    top: 0;
    width: 100%;
}
#nav.opened {
    max-height: 9999px;
}
#nav a:hover {
    background: transparent none repeat scroll 0 0;
}
#nav .active a:hover {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    color: #eee;
}
#toggle {
    -moz-user-select: none;
    background: #444 url("../images/hamburger.gif") no-repeat scroll 50% 33%;
    display: block;
    float: right;
    height: 55px;
    margin: 0 -2em 1em 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 70px;
}
.main {
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    padding: 0 2em 2em;
    position: relative;
    width: 100%;
}
}
@media not all, screen and (min--moz-device-pixel-ratio: 1.3), not all, not all, screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
body {
    background-image: url("../images/debut_dark_@2X.png");
    background-size: 200px 200px;
}
#toggle {
    background-image: url("../images/hamburger-retina.gif");
    background-size: 100px 100px;
}
}
@media screen and (min-width: 76em) {
#nav {
    width: 18em;
}
.main {
    left: 18em;
    width: auto;
}
}

#management-logo{
    height: 30px;
    width: 30px;
}

#management-text{
    padding-left: 10px;
    font-size: 15px;
    color: #f4f4f4;
}