<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pie</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.js') }}"></script>
</head>
<body>
    <div id="echartsPie" style="width: 250px;height:250px;"></div>
<script>
    var echartsPie;
    var json = [
                {value:30,name:'高圆圆'},
                {value:26,name:'赵丽颖'},
                {value:24,name:'江莱'}
                ];
    var option = {
            title : {
                text: '网站访问IP分布',
                x:'center',
                y:'bottom'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} 岁"
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'女神',
                    type:'pie',
                    radius : '50%',//饼图的半径大小
                    center: ['50%', '40%'],//饼图的位置
                    data:json
                }
            ]
        };

    echartsPie = echarts.init(document.getElementById('echartsPie'));
    $(function(){
        echartsPie.setOption(option);

    });
</script>

</body>
</html>