{% extends 'base/index_base.html' %}

{% block Title %}Test{% endblock %}

{% block MainContainer %}

    <h1>这里是TEST</h1>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Copyright &copy; <a href="http://www.liefyuan.top/">似水流年</a></span> |
                    <span><a href="http://www.miibeian.gov.cn/" target="_blank"> 湘ICP备16019866号</a></span> |
                </div>
            </div>
        </div>
    </footer>
{% endblock %}