{% extends 'base/index_base.html' %}

{% block Titlte %}

    物联网的发展

{% endblock %}


{% block MainContainer %}
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron">
                    <h3 style="text-align: center">物联网</h3>
                    <hr />
                    <p>&emsp;物联网三层架构包括感知层、网络层和应用层。感知层主要靠传感器，在智能家居、智慧城市和智能工业等领域大量应用；网络层就是数据传输的依附。正如书中所说，传统协议难以应对物联网所带来的挑战。现在的3G、4G、WiFi等并适合物联网对网络传输的需求，所以5G、LPW/AN(低功耗网域网)应运而生；应用层就更多了，比如云、智慧物流等。物联网落地主要通过智能家居、智慧城市和智能工业等方方面面。智能家居的产品已经有很多了，智慧城市也已有远程抄表、智慧停车等成熟应用。互联网是看不见摸不着的，二物联网时代你却能切身感受到它的存在，即使你喝口水，水温、口味以及你的健康信息等相关数据都可以上传到云端。未来的一切物体都将联网。这是一个全新的时代，是将人类过去的科技成果集大成而达成的一种全新的生活状态。它的影响是给过去分散的、无法自我表达的一切事物注入灵魂，放到一个互通的网络里进行交流、分析并产生更大的价值，其最终的落脚点是让人们享受到更加舒适便捷的生活。</p>
                    <p>&emsp;当然，物联网不是要一蹴而就地改变世界。相反，物联网是随着更多事情和设备相连接而一天天慢慢发展壮大的网络。其实这种改变已经发生。。。。。</p>
                    </div>
            </div>
        </div>
        <hr>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span>Copyright &copy; <a href="http://www.liefyuan.top/">似水流年</a></span> |
                        <span><a href="http://www.miibeian.gov.cn/" target="_blank"> 湘ICP备16019866号</a></span> |
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}